<ion-view view-title="Stores">

    <ion-content class="padding">
        <div class="bar-bar header item-input-inset">
            <label class="item-input-wrapper">
<!--                <i class="icon ion-ios-search placeholder-icon"></i>-->
                <input type="search" placeholder="Find a Store" ng-model="data.city" value={{data.city}}>
            </label>
            <button class="button button-energized" ng-click="getStores(data.city)">
                GO
            </button>
        </div>


        <div class="card" ng-repeat="store in stores track by $index">
            <div class="item item-divider" id="cardHead">
                <h2>{{store.longName}}</h2>
            </div>
            <div class="item item-text-wrap">
                <p><i class="fa fa-map-marker" ></i> <strong>City:</strong> {{store.city}}</p>
                <p><i class="fa fa-location-arrow"></i>
                    <strong>Address:</strong> {{store.address}}</p>
                <p><i class="fa fa-phone"></i>
                    <strong>Phone:</strong> {{store.phone}}</p>


            </div>
            <div class="item item-divider" id="cardFoot">
                <p><strong>Hours:</strong> {{store.hours}}</p>
            </div>
        </div>

    </ion-content>

</ion-view>